$primary-btn-light-yellow: #FFBB00;
$primary-btn-dark-yellow: #FFC422;
$secondary-light-gray: #F9F9F9;
$secondary-dark-gray: #CEC6C6;
$primary-text: #263238;
$secondary-text: #65624C;

$font-family:"Inter", serif; 


@mixin ipad {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin smallTablet {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin mobile {
   @media (max-width: 575px) {
    @content;
  }
}

@mixin fontStyling($color) {
    margin-bottom: 20px;
    font-size: 36px;
    color: $color;
    font-weight: 700;
    svg{
        display:none;
    }
    @include ipad{
        font-size: 24px;
        text-align: center;
    }
    @include mobile{
        text-align: start;
        display: flex;
        justify-content: space-between;
        svg{
            display: block;
            color: $primary-btn-dark-yellow;
        }
    }
}