@import '../../styles/common.scss';

.intro{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-image: url('../../assets/HeroDesktop.svg');
    background-repeat: no-repeat;
    height: 620px;
    background-size: 100%;
    margin-bottom:36px;
    @include ipad{
        height: 420px;
        margin-bottom: 16px;
    }
    @include smallTablet{
                height: 320px;
        flex-direction: column-reverse;
    }
    @include mobile{
         background-image: url('../../assets/HeroMobile.svg');
         height: 475px;
    }
}
.content{
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 58px;
    width: 800px;
    padding-left: 120px;
    line-height: 1.5;
    overflow: hidden;
    color: $primary-text;
    @include ipad{
        width: 450px;
        font-size: 30px;
        padding-left: 50px;
    }
     @include smallTablet{
        font-size: 20px;
        padding: 0 80px;
        text-align: center;
        width: 400px;
    }
    @include mobile{
        width: 100%;
        padding: 0px;
    }
}
.price{
    color:$primary-btn-dark-yellow;
}