@import '../../styles/common.scss';
.download{
    h2{
        @include fontStyling(#605F5F);
    }
}
.downloadContainer{
    display: flex;
    background-color: white;
    height: 256px;
    align-items: end;
    margin-top: 230px;
    margin-bottom: 40px;
    width: 100%;
    justify-content: space-around;
    border-radius: 18px;
    color: #605F5F;
    border: 1px solid #EEE7E7CC;
    @include ipad{
        display: block;
        margin: 0;
        text-align: center;
        height: 100%;
        img{
                margin-bottom: 10px;
        }
    }
      @include smallTablet{
        display: block;
        margin: 0;
        text-align: center;
        height: 100%;
        img{
                margin-bottom: 10px;
        }
    }
    @include mobile{
         img{
            width: 320px;
        }
    }
}

.downloadContent{
    display: flex;
    align-self: center;
    flex-direction: column;
    p{
        width: 586px;
        color: #605F5F;
        font-size: 20px;
        font-weight: 500;
        @include ipad{
            display: none;
        }
         @include smallTablet{
            display: none;
        }
    }
    
}
button{
    border: 0;
    background: white;
}
.btnContainer{
   @include mobile{
    img{
        width: 146px;
    }
   }
}