@import './styles/common.scss';
.App{
    height: 100vh;
}
.MainContent{
    padding:0px 120px; 
     @include ipad{
        padding:0px 50px; 
     }
      @include smallTablet{
             padding:0px 20px; 
    }
}