@import '../../../styles/common.scss';
@mixin fontStyling($size, $weight){
    font-size: $size; 
    font-weight: $weight;
    font-family: $font-family;
    
}
@mixin flexDirection($justifyValue){
    display: flex;
    justify-content: $justifyValue;
}
@mixin btnStyling($bcolor,$color,$borderWidth, $borderColor, $width){
    @include fontStyling(14px, 500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bcolor;
    border: $borderWidth solid $borderColor;
    color: $color;
    width: $width;
    height: 66px;
    border-radius: 6px;
    text-align: justify;
    .arrowBtn svg:first-child{
        position: relative;
        right:-10px;
         color:#263238;
         opacity: 0.4;
         font-size: 20px;
         @include mobile{
            font-size: 16px;
         }
    }
    .arrowBtn svg:nth-child(2){
         opacity: 0.6;
         font-size: 20px;
         @include mobile{
            font-size: 16px;
         }
    }
    .arrowBtn svg:last-child{
        position: relative;
        left:-10px;
        color:#263238;
         font-size: 20px;
         @include mobile{
            font-size: 16px;
         }
    }
    &:hover{
        cursor: pointer;
        box-shadow: rgb(183, 182, 184) 0px 3px 6px 0px;
    }
    @include smallTablet{
        font-size: 12px;
        width: 170px;
    }

}
.card{
    background-color: white;
    border: 1.08px solid #EEE7E7CC;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 1.08px 8.63px 0px #0000000F;
}
.titleContainer{
    @include flexDirection(space-between);
    align-items: center;
    margin-top: 0px;
}
.directions{
    @include flexDirection(center);
    flex-direction: column;
    text-align: center;
    border: 1px solid #EEE7E7;
    width: 52px;
    height: 52px;
    background-color: #EEE7E7;
    border-radius: 8px;
    margin-top: 0px;
     @include smallTablet{
         width: 45px;
        height: 45px;
     }
    span:last-child{
        color: #26323880;
        font-size: 8px;
    }
    span:first-child{
        color: #1C1B1F;
        border: 1px solid #1C1B1F;
        border-radius: 50%;
        width: 20px;
        position: relative;
        left: 15px;
        margin-bottom: 5px;
         @include smallTablet{
            left: 12px;
         }
        svg{
            position: relative;
            top: 2px;
        }
    }
}
.title{
    @include fontStyling(20px, 600);
    color: $primary-text;
    margin-top: 0px;
    @include smallTablet{
        font-size: 18px;
    }
}
.locimage{
    position: relative;
    img{
        width: 100%;
        border-radius: 6px;
        @include ipad{
            height: 400px;
        }
        @include smallTablet{
            height: 350px;
        }
        @include mobile{
            height: 175px;
        }
    }
    
}
 img:hover{
      ~ & {
      padding-top: 20px;  }
        }

.pricePerDayBtn{ 
    @include btnStyling($secondary-light-gray, $secondary-text, #EEE7E7, 0.5px, 185px);
    border: 1px solid #EEE7E7;
        @include mobile{
        width: 135px;
    }
}
.priceDiscountBtn{
    @include btnStyling(#FFCF4B, #514D2D, $primary-btn-dark-yellow, 1px, 185px);
    border: 1px solid $primary-btn-dark-yellow;
    position: relative;
   
        @include mobile{
        width: 157px;
    }
}
.btnContainer{
    @include flexDirection(space-between);
    margin-top: 25px;
    position: relative;
}
.price{
    @include fontStyling(20px, 600);
    margin-top: 3px;
    @include smallTablet{
        font-size: 18px;
    }
    span{
        @include fontStyling(14px, 500);
        @include smallTablet{
        font-size: 12px;
    }
    }
}
.discountFlag{
    position: absolute;
    background-color: $primary-text;
    color: #FFFDF7;
    width: 68px;
    height: 15px;
    bottom: 58px;
    right: 55px;
    font-size: 8px;
    text-align: center;
    border-radius: 3px;
    padding-top: 4px;
    z-index: 1;
        @include mobile{
            left: 200px;
        }
}
.iconConainer{
    position: absolute;
    top: 160px;
    padding: 0px 25px;
    .prev{
        position: absolute;
        left: 420px;
        top: 0px;
    }
}
.prev, .next{
    width: 35px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 50%;
    opacity: 0.8;
    svg{
        padding-top: 9px;
        padding-left: 9px;
    }
}
.next{
    left: 10px;
    svg{
            transform: rotate(180deg);
            padding-bottom: 9px;
            padding-top: 0px;
            padding-right: 9px;
            padding-left: 0px;
    }
}